/bin/
/target/
*.log
/tests/
.checkstyle
.classpath
.project
/.settings/
/nbproject/
.idea
*.iml

/build/
/lib/
/test-output/
src/tz-data/
*TempTest*
/src/main/resources/org/joda/time/tz/data/

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes